---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Servicios from "../components/Servicios.astro";
import Contacto from "../components/Contactanos.astro";
import FooterMenu from "../components/FooterMenu.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Jirena">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Servicios />
    </div>
    <div class="snap-center">
      <Contacto />
    </div>
  </main>
  <FooterMenu />
</Layout>
