---
import Section from "./Section.astro";
---

<Section
  title="Transportes Jirena"
  subtitle="Empresa de transportes de carga"
  color="white"
  id="home"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#"
    >
      Test Button</a
    >
  </div>

  <img
    slot="background"
    alt="contactanos"
    class="object-center object-cover w-full h-full"
    src="camion4.avif"
    id="bg-image-home"
  />
</Section>
